<% if (pendingUsers.length > 0) { %>
    <table>
        <% pendingUsers.forEach(user => { %>
            <tr>
                <td><%= user.fullName %></td>
                <td><%= user.email %></td>
                <td>
                    <form action="/admin/approveUser/<%= user.pendingUserId %>" method="post">
                        <input type="checkbox" name="isAdmin" <%= user.isAdmin ? 'checked' : '' %>>
                        <button type="submit">Approve</button>
                    </form>
                </td>
                <td>
                    <form action="/admin/rejectUser/<%= user.pendingUserId %>" method="post">
                        <button type="submit">Reject</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </table>
<% } else { %>
    <p>No pending users.</p>
<% } %>